.home {
  background: #fff;
}

.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  min-height: 40rem;
  padding: 2rem 0;
}

.home .slide .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.home .slide .image img {
  height: 30rem;
}

.home .slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .slide .content span {
  font-size: 2rem;
  color: #0984e3;
}

.home .slide .content h3 {
  padding-top: .5rem;
  color: #333;
  font-size: 3rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #333;
}

.banner .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.banner .box-container .box {
  position: relative;
  height: 25rem;
  border: 0.2rem solid #333;
  border-radius: .5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .box-container .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.banner .box-container .box .content span {
  font-size: 1.7rem;
  color: #0984e3;
}

.banner .box-container .box .content h3 {
  font-size: 2rem;
  padding: .5rem 0;
  color: #333;
}

