
 .cart-total {
    margin-top: 2rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border: 0.2rem solid #333;
    border-radius: .5rem;
    background: #fff;
    padding: 2rem;
    padding-top: 1rem;
  }
  
  .cart-total h3 {
    padding-top: 1rem;
    font-size: 2rem;
    color: #333;
  }
  
 .cart-total h3 span {
    color: #0984e3;
  }